[submodule "vundle"]
	path = bundle/vundle
	url = git@github.com:gmarik/vundle.git
[submodule "bundle/vundle"]
	path = bundle/vundle
	url = git@github.com:gmarik/vundle.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
